#myCanvas {
    display: block; /* Removes the bottom margin/gap */
    margin: 0 auto; /* Center align the canvas */
    background-color: #000000; /* Just an example, sets background color */
  }
  